.form-create {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  border: 1px solid #999999;
  margin: 10px;
  height: 20vh;
  padding: 10px 15px;
  border-radius: 7px;
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.name {
  text-align: center;
}

.form-create h2 {
  color: #ff7517;
}


